<!DOCTYPE html>
<html>
{{ partial "head" . }}
<body>
   <div class="container">
{{ partial "header/site-header" . }}

<main>
   <article>
   <div class="article-head">
       <div class="next-prev">
          <span>&nbsp;</span>
      </div>
      <div class="article-head-main">
         <h1 class="page-title">{{ .Title }} </h1>
      </div>
       <div class="next-prev">
          <span>&nbsp;</span>
      </div>
   </div>

    <div class="main-content">

      {{ range .Pages }}
             {{ .Content }}
      {{ end }}

    </div>

  </article>
</main>
sd

{{ partial "footer/site-footer" . }}
</div>
   </body>
</html>
